*
{
	font-family: "comic sans ms";
}

body
{
	position: relative;
	margin-right: 250px;
	margin-left: 250px;
	margin-top: 0px;
	margin-bottom: 0px;
}

td, th
{
	border: 1px solid black;
}

table
{
	border-collapse: collapse;
	width: 100px;
	margin-right: 10px;
}

div
{
	height: 200px;
}
